@charset "UTF-8";
@import url(e:\Project\github\goit-markup-hw-07\sass\vendors\_modern-normalize.css);
:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --cursor-button-color: #188ce8;
  --primary-white-color: #ffffff;
  --text-color-white: #ffffff;
  --text-footer: #ffffff99;
  --border-color: #ececec;
  --border-portfolio-color: #eeeeee;
  --portfolio-button-color: #f5f4fa;
  --text-color: #212121;
  --portfolio-color-title: #757575;
  --hero-background-color: #2f303a;
  --footer-item-color: rgba(255, 255, 255, 0.6);
  --social-icon-color: #afb1b8;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-form-input: rgba(33, 33, 33, 0.2);
  --textarea: rgba(117, 117, 117, 0.5);
  --footer-form-icon-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

/* Убираем маркеры в списках */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nobull {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.main-nav .logo {
  margin-right: 93px;
}

.header-list {
  display: flex;
}

.header-list-contact {
  display: flex;
  margin-left: auto;
}

.header-list .item + .item {
  margin-left: 50px;
}

/* .header-list:not(:last-child) {
  margin-right: 50px;
} */
.header-list-contact .item + .item {
  margin-left: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid var(--border-color);
  max-width: 1600px;
  margin: 0px auto;
}

/*Делает стиль логотипа logotip */
.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}

/* Делает слово Studio в логотипе синим */
.logo-span {
  color: var(--accent-color);
}

.header-list .link:active,
.header-list .link:hover,
.header-list .link:focus,
.header-list-contact .link-contact:hover,
.header-list-contact .link-contact:focus,
.header-list .link.current,
.header-list-contact .link-contact.current {
  color: var(--accent-color);
}

/* Делаем подчеркивание текущей страницы */
.site-nav .item {
  /* position: relative; */
}

.site-nav .current-line {
  /* display: inline; */
  position: relative;
  bottom: -33px;
}

.site-nav .current-line::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: 0px;
  position: absolute;
  /* }

.site-nav::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 5px;
  background-color: red; */
  /* transform: scaleX(0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .site-nav .current::after {
  opacity: 1;
  transform: scaleX(1);
} */
/* Изменяет стили и цвет header навигации */
.site-nav .link {
  display: block;
  padding: 32px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
  /* Добавляем анимацию */
  transition: color 250ms var(--transition-timing-function);
}

/* Изменяет стили и цвет header контакты */
.link-contact {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--portfolio-color-title);
  padding: 32px 0px;
  /* Добавляем анимацию */
  transition: color 250ms var(--transition-timing-function);
}

.link-contact .header-list-icon {
  margin-right: 10px;
  fill: currentColor;
  /* Добавляем анимацию */
  transition: fill 250ms var(--transition-timing-function);
}

.hero {
  background-color: var(--hero-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-background.jpg);
}

/* Изменяет курсор на кнопке заказать услугу в секции3 */
.section-hero-button {
  border: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  /* Добавляем анимацию */
  transition: box-shadow 250ms var(--transition-timing-function);
}

.section-hero-button.primary:hover,
.section-hero-button.primary:focus {
  /* При наведении курсора делает не прозрачным кнопку */
  /* background-color: rgba(33, 150, 243, 1); */
  background-color: var(--cursor-button-color);
  /* opacity: 1; */
  /* Добавляем анимацию */
  animation-iteration-count: infinite;
  display: inline-block;
}

.section-hero-button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  /* background-color: rgba(33, 150, 243, 0.9); */
  /* opacity: 0.9; */
  /* Добавляем анимацию */
  transition: background-color 250ms var(--transition-timing-function), color 250ms var(--transition-timing-function), opacity 250ms var(--transition-timing-function);
}

/* Изменяет шрифт Эффективные решения для вашего бизнеса */
.section-3-text-color {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* Делает слово Studio в логотипе footer белым */
.logo-span-footer {
  color: var(--primary-white-color);
}

/* Делает подсветку при наведении курсора или перехода цветом для nav и footer */
.footer-list .footer-item:hover,
.footer-list .footer-item:focus,
.footer-list .footer-map:hover,
.footer-list .footer-map:focus {
  color: var(--accent-color);
}

/* Делает футер в стиле */
.footer-list .footer-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--footer-item-color);
  /* margin-right: 10px; */
  /* Добавляем анимацию */
  transition: color 250ms var(--transition-timing-function);
}

/* Делает цвет текста ссылки на карту */
.footer-map {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  /* Добавляем анимацию */
  transition: color 250ms var(--transition-timing-function);
  white-space: nowrap;
  /* Запрещаем перенос текста */
}

/* Делаем цвет фона footer */
.footer-background {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  margin: 0px auto;
}

.footer-background .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-item + .footer-item {
  margin-top: 9px;
}

.footer-social-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-social-list {
  display: flex;
  margin-top: 20px;
}

.footer-social-link {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--footer-icon-color);
  fill: var(--primary-white-color);
  /* Добавляем анимацию */
  transition: background-color 250ms var(--transition-timing-function), fill 250ms var(--transition-timing-function);
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-section {
  display: flex;
  align-items: baseline;
}

.logo-adress {
  margin-right: 70px;
}

/* Форма подпишить на рассылку */
.footer-form-box {
  margin-left: 93px;
  /* width: 570px; */
  width: 100%;
}

.footer-form-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-form-icon {
  fill: var(--footer-form-icon-color);
  margin-left: 10px;
}

.footer-form-send-button {
  padding: 10px 29px;
  margin-left: 12px;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color 250ms var(--transition-timing-function);
}

.footer-form-send-button:hover,
.footer-form-send-button:focus {
  background-color: var(--cursor-button-color);
}

.footer-form-input {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--hero-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  align-items: center;
  letter-spacing: 0.03em;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:hover,
.footer-form-input:focus {
  border-color: var(--accent-color);
  color: var(--primary-white-color);
}

.footer-form-box-send {
  display: flex;
  align-items: center;
}

.footer-form-send {
  margin-top: 20px;
}

/* Изменяет в Porffolio текст кнопок фильтра */
.section-list-button button {
  display: inline-block;
  border: 1px solid transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-button-color);
  /* shadow-middle */
  border-radius: 4px;
  padding: 6px 22px;
  box-shadow: none;
  color: currentColor;
  /* Добавляем анимацию */
  transition: background-color 250ms var(--transition-timing-function), box-shadow 250ms var(--transition-timing-function), color 250ms var(--transition-timing-function);
}

.portfolio-text a {
  text-decoration: none;
}

.portfolio-text h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.portfolio-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--portfolio-color-title);
}

.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.section-list-button + .section-list-button {
  margin-left: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  margin-left: 30px;
  margin-top: 30px;
  display: block;
  box-shadow: none;
  /* Добавляем анимацию */
  transition: box-shadow 250ms var(--transition-timing-function);
}

.portfolio-item:hover,
.portfolio-item:focus {
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
}

.hero-portfolio {
  padding-top: 94px;
  padding-bottom: 34px;
}

.portfolio-box {
  padding: 20px 24px;
  border: 1px solid var(--border-portfolio-color);
  border-top: none;
}

.portfolio-item .portfolio-overlay-text {
  background: rgba(33, 150, 243, 0.9);
  color: var(--text-color-white);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  width: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms, color 250ms var(--transition-timing-function);
}

.portfolio-item .portfolio-thumb {
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio-item-img {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover .portfolio-overlay-text,
.portfolio-item:focus .portfolio-overlay-text {
  transform: translateY(0%);
  /* Добавляем анимацию */
  transition: transform 250ms var(--transition-timing-function);
}

/* img {
  display: block;
  max-width: 100%;
} */
.list-button button:hover,
.list-button button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.client {
  background-color: var(--primary-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  margin: 0px auto;
}

.client-list {
  display: flex;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  fill: var(--social-icon-color);
  /* Добавляем анимацию */
  transition: fill 250ms var(--transition-timing-function), border 250ms var(--transition-timing-function);
}

.client-item + .client-item {
  margin-left: 30px;
}

.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Модальное окно */
.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* модальное окно высвечиваеться */
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 500ms linear, visibility 500ms linear, transform 1s;
}

.modal-window {
  position: absolute;
  padding: 40px;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  cursor: pointer;
  padding: 0px;
}

/* Прячем модальное окно */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* transform: translate(30%, 50%); */
  transform: scale(0.1);
}

/* .icon-icon-send {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
} */
.modal-form-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  transform: translateY(-50%);
  top: 50%;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-form-input);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}

.modal-form-box {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-input:hover,
.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: var(--portfolio-color-title);
  margin-bottom: 4px;
  display: inline-block;
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
}

.modal-form-comment:hover,
.modal-form-comment:focus {
  border-color: var(--accent-color);
}

.modal-form-comment::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--textarea);
}

.modal-check-box {
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-color);
  display: block;
  border-radius: 2px;
  margin-right: 8px;
}

.checkbox-input:focus + .modal-check-box {
  border-color: var(--accent-color);
}

.checkbox-input:checked + .modal-check-box {
  background-color: var(--accent-color);
  background-image: url(../images/svg/vector.svg);
  border-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}

.modal-form-comment-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check-accept {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: var(--portfolio-color-title);
  display: inline-block;
}

.modal-check-order {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.form-send-button {
  padding: 10px 55px;
  margin: 0 auto;
  justify-content: center;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color 250ms var(--transition-timing-function), box-shadow 250ms var(--transition-timing-function);
}

.form-send-button:hover,
.form-send-button:focus {
  background-color: var(--cursor-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Изменяет текст секции 4 заголовков h3 */
.section-4-h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list {
  display: flex;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  margin: 0px auto;
}

.features-item + .features-item {
  margin-left: 30px;
}

.features-item {
  width: 270px;
}

.features-list .features-item .features-item-wallpaper {
  background-color: var(--portfolio-button-color);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 120px;
}

.services {
  padding-bottom: 94px;
  max-width: 1600px;
  margin: 0px auto;
}

.services-list {
  display: flex;
}

.services-item + .services-item {
  margin-left: 30px;
}

/* Наложение подписи в секции чем мы занимаемся поверх изображения */
.services-thumb {
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.services-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.services-desktop {
  position: relative;
}

/* Изменяет текст секции 4 */
.section-4-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--portfolio-color-title);
  margin-top: 10px;
}

/* Изменяет текст секции 5 заголовков h2 */
/* Изменяет текст секции 6 заголовка h2 */
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* Изменяет текст секции 6 заголовков h3 имя и фамилия команды */
.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

/* Изменяет текст секции 6 */
.section-6-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--portfolio-color-title);
}

/* Изменяет фон секции 6 */
.team {
  background-color: var(--portfolio-button-color);
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  margin: 0px auto;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: var(--primary-white-color);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item + .team-item {
  margin-left: 30px;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-social-list .team-social-item .team-social-link {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  transition: background-color 250ms var(--transition-timing-function);
}

.team-social-list {
  display: flex;
  margin-top: 16px;
}

.team-social-icon {
  fill: var(--social-icon-color);
  /* Добавляем анимацию */
  transition: fill 250ms var(--transition-timing-function);
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: var(--primary-white-color);
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-list .team-social-item .team-social-link:hover,
.team-social-list .team-social-item .team-social-link:focus {
  background-color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */