/* Изменяет в Porffolio текст кнопок фильтра */
.section-list-button button {
  display: inline-block;
  border: 1px solid transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-button-color);
  /* shadow-middle */
  border-radius: 4px;
  padding: 6px 22px;
  box-shadow: none;
  color: currentColor;
  /* Добавляем анимацию */
  transition: background-color 250ms var(--transition-timing-function),
    box-shadow 250ms var(--transition-timing-function),
    color 250ms var(--transition-timing-function);
}
.portfolio-text a {
  text-decoration: none;
}
.portfolio-text h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.portfolio-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--portfolio-color-title);
}

.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.section-list-button + .section-list-button {
  margin-left: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-item {
  margin-left: 30px;
  margin-top: 30px;
  display: block;
  box-shadow: none;
  /* Добавляем анимацию */
  transition: box-shadow 250ms var(--transition-timing-function);
}

.portfolio-item:hover,
.portfolio-item:focus {
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
}
.hero-portfolio {
  padding-top: 94px;
  padding-bottom: 34px;
}
.portfolio-box {
  padding: 20px 24px;
  border: 1px solid var(--border-portfolio-color);
  border-top: none;
}
.portfolio-item .portfolio-overlay-text {
  background: rgba(33, 150, 243, 0.9);
  color: var(--text-color-white);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  width: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms, color 250ms var(--transition-timing-function);
}
.portfolio-item .portfolio-thumb {
  position: absolute;
  top: 0;
  left: 0;
}
.portfolio-item-img {
  position: relative;
  overflow: hidden;
}
.portfolio-item:hover .portfolio-overlay-text,
.portfolio-item:focus .portfolio-overlay-text {
  transform: translateY(0%);
  /* Добавляем анимацию */
  transition: transform 250ms var(--transition-timing-function);
}
/* img {
  display: block;
  max-width: 100%;
} */
.list-button button:hover,
.list-button button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
