.services {
  padding-bottom: 94px;
  max-width: 1600px;
  margin: 0px auto;
}
.services-list {
  display: flex;
}
.services-item + .services-item {
  margin-left: 30px;
}
/* Наложение подписи в секции чем мы занимаемся поверх изображения */
.services-thumb {
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.services-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.services-desktop {
  position: relative;
}
/* Изменяет текст секции 4 */
.section-4-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--portfolio-color-title);
  margin-top: 10px;
}
/* Изменяет текст секции 5 заголовков h2 */
/* Изменяет текст секции 6 заголовка h2 */
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
